<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
	    <rewrite>
			<outboundRules>
				<rule name="SameSite rewrite">
					<match serverVariable="RESPONSE_Set_Cookie" pattern="(.*)=(.*)" negate="false" />
					<action type="Rewrite" value="{R:1}={R:2}; SameSite=None; HttpOnly; Secure" replace="false" />
				</rule>     
			</outboundRules>
		</rewrite>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.asp" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="index.html" />
                <add value="iisstart.htm" />
            </files>
        </defaultDocument>
        <httpRedirect enabled="false" destination="" />
        <httpErrors errorMode="Detailed" />
    </system.webServer>
    <connectionStrings>
        <remove name="LocalSqlServer" />
        <add connectionString="Integrated Security=true" name="LocalSqlServer" providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>

netsh interface portproxy add v4tov4 listenport=1436 listenaddress=192.168.0.24 connectport=1433 connectaddress=127.0.0.1