html {-webkit-text-size-adjust: none;}
html { overflow-x:hidden; }
.form-control{
width:70%;
}
.show{
display: block;
}
#bugtext{
width:150px;
height:150px;
}
#registerModal{
position: fixed;
  top: 10%;
  right: 30%;
  bottom: 0;
  left: 36%;
  z-index: 1050;
  display: none;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  width: 500px;
  height: 450px;
  background: #fff;

}
.btn{
width:140px;
height:40px;
font-size:16px;

}
	.ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper{
	  background-color: #f9f9f9;
  border-color: #bbb;
  color: #333;
  text-shadow: 0 0px 0 #000;
	}
	.ui-input-text, .ui-input-search {
  margin: .5em 0;
  border-width: 1px;
  border-style: solid;
  width: 200px;
 
}
.ui-page-theme-a .ui-btn, html .ui-bar-a .ui-btn, html .ui-body-a .ui-btn, html body .ui-group-theme-a .ui-btn, html head+body .ui-btn.ui-btn-a, .ui-page-theme-a .ui-btn:visited, html .ui-bar-a .ui-btn:visited, html .ui-body-a .ui-btn:visited, html body .ui-group-theme-a .ui-btn:visited, html head+body .ui-btn.ui-btn-a:visited {
  background-color: #f6f6f6;
  border-color: #ddd;
  color: #333;
  text-shadow: 0 1px 0 #f3f3f3;
  width: 170px;
}
.ui-page-theme-a .ui-btn #login{
  background-color: #ccc;
  border-color: #ddd;
  color: #333;
  text-shadow: 0 1px 0 #f3f3f3;

}
.ui-popup-container {
  z-index: 1100;
  display: inline-block;
  position: absolute;
  padding: 0;
  outline: 0;
  top:90px !important;
}

#searchform  div{
  margin: .5em 0;
  border-width: 1px;
  border-style: solid;
  width: 130px;
  height:30px;
}
iframe {
    border: none;
}
.behind-btn{
width:22px;
height:22px;
background:#ccc;
display:block;
  border-radius: 1em;
}
#registration_form table tr td {
font-size:16px;
}
#discard  .ui-checkbox label{
  background-color: transparent;
  border-color: #ddd;
  color: #333;
  border:none;
  text-shadow: 0 1px 0 #f3f3f3;
  width: 470px;
}
.start_blue {
font-size:14px;
	z-index: 10;
    width: 120px;
    float: right;
	border:none;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: transparent;
    margin: 0px 0px;
	height:40px;
	color:#fff;
	text-shadow: 0 0px 0 #f3f3f3;
	padding-right:25px;
	  cursor: pointer;
	   font-size: 14px;
    line-height: 1.3em;
    font-weight: bold;
    font-family: arial;
}
.start_blue  .ui-btn:hover{
   background: #0354AC url('../images/arrow_blue.png') no-repeat 93% center;
   color:#fff;
	text-shadow: 0 0px 0 #f3f3f3;
}
.ui-checkbox input, .ui-radio input {
  position: absolute;
  left: .65em;
  top: 51%;
  width: 22px;
  height: 20px;
  margin: -11px 0 0 0;
  outline: 0!important;
  z-index: 1;
}
.table {
    display: table;
}
.row {
    display: table-row;
}
.cell {
    display: table-cell;
}
/* TRAINING  */

.t_menu_blue {
    width: 300px;
    height: 36px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    margin-top: 6px;
    background: #DBEEFF url('../images/g_arrow_menu_white.png') no-repeat 96% center;
}
.t_menu_blue_active {
    width: 300px;
    height: 36px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    margin-top: 6px;
    background: #9ED2FF url('../images/g_arrow_menu_blue.png') no-repeat 96% center;
}
.t_choose {
    width: 260px;
    margin-right: 15px;
    float: left;
    -moz-border-radius: 7px;
    border-radius: 7px;
    margin-top: 6px;
    background-color: #FFF;
    cursor: pointer;
    z-index: 120;
}
.t_choose2 {
    width: 260px;
    margin-right: 15px;
    float: left;
    -moz-border-radius: 7px;
    border-radius: 7px;
    margin-top: 2px;
    background: #FFF;
    color: #0B66BD;
    height: 40px;
    cursor: pointer;
    padding-left: 10px;
    padding-top: 2px;
}
.quiz_choose {
    -moz-border-radius: 7px;
    border-radius: 7px;
    background: #FFF;
}
.t_choose_active {
    width: 260px;
    margin-right: 15px;
    float: left;
    -moz-border-radius: 7px;
    border-radius: 7px;
    margin-top: 6px;
    background: #0B66BD;
}
.box_inside a:link,
.box_inside a:visited {
    color: #0354AC;
    text-decoration: underline;
}
.quiz_choose_inside {
    display: block;
    color: #1E89D9;
    text-decoration: none;
    font-weight: normal;
    padding: 6px 15px;
    font-size: 16px;
}
.t_choose a:link,
.t_choose a:visited {
    display: block;
    color: #1E89D9;
    text-decoration: none;
    font-weight: normal;
    padding: 10px;
    font-size: 16px;
}
.t_choose_active a:link,
.t_choose_active a:visited {
    display: block;
    color: #FFF;
    text-decoration: none;
    font-weight: normal;
    padding: 10px;
    font-size: 16px;
}
.t_menu_blue a:link,
.t_menu_blue a:visited {
    display: block;
    color: #1E89D9;
    text-decoration: none;
    font-weight: normal;
    padding: 8px 0px 0px 25px;
    font-size: 16px;
}
.t_menu_blue_active a:link,
.t_menu_blue_active a:visited {
    display: block;
    color: #1E89D9;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 0px 0px 25px;
    font-size: 16px;
}
.t_menu_blue a:active,
.t_menu_blue a:hover,
.t_menu_blue_active a:active,
.t_menu_blue_active a:hover {
    display: block;
    text-decoration: underline;
}
.t_content_info {
    float: left;
    width: 307px;
    background: #0154AD url('../images/bg_div_info.gif') repeat-x;
    min-height: 390px;
}
.t_content_info_inside {
    color: #FFF;
    padding: 20px;
    font-size: 16px;
}
.t_content_info_inside strong {
    color: #FFF;
    font-size: 20px;
}
#blue_inside {
    height: 390px;
    overflow: scroll;
    overflow-x: hidden;
}
.t_topic {
    width: 240px;
    margin-right: 15px;
    float: left;
    -moz-border-radius: 7px;
    border-radius: 7px;
    margin-top: 6px;
    font-size: 16px;
    font-weight: normal;
    padding: 10px;
    text-decoration: none;
}
.t_progress_info {
    background: url("../images/quiz_progress_box.gif") repeat;
    background-image: -o-linear-gradient(to right, #ABD039 57.5%, #50B849);
    background-image: -moz-linear-gradient(to right, #ABD039 57.5%, #50B849);
    background-image: -webkit-linear-gradient(to right, #ABD039 57.5%, #50B849);
    background-image: -ms-linear-gradient(to right, #ABD039 57.5%, #50B849);
    background-image: -webkit-gradient( linear, left bottom, right bottom, color-stop(0.575, #AAD039), color-stop(1.0, #50B849));
    background-image: linear-gradient(to right, #ABD039 57.5%, #50B849);
    -webkit-border-radius: 0 7px 7px 0;
    -moz-border-radius: 0 7px 7px 0;
    border-radius: 0 7px 7px 0;
    float: left;
    height: 100%;
    position: absolute;
    right: 0;
    width: 320px;
    color: #ffffff;
}
.t_progress_info_inside {
    font-size: 1.5em;
    padding: 15px 0px 0px 25px;
}
.white_text {
    color: #FFF;
}
.quiz_score {
    margin: 20px auto 0 auto;
    color: #FFFFFF;
    font-size: 20pt;
    padding: 20px 20px 20px 20px;
}
.completed {
    background: #0B66BD url("../images/tick2.gif") no-repeat 93% center;
    color: #FFFFFF;
    z-index: 0;
}
.incomplete {
    color: #0B66BD;
    background: #FFFFFF;
}
#questionsRemaining {
    margin: 20px 0 0 30px;
}
/* HTML */

html {
    width: 100%;
    height: 100%;
    margin: 0px;
    margin-top: 0px;
    text-align: center;
    font-family: Arial, Verdana;
    color: #353535;
}
ul.square {
    list-style-type: square;
    margin: 5px 5px;
    padding-left: 20px;
    line-height: 1.4em;
}
form {
    display: inline;
}
img {
    border: 0px;
}
select {
    font-size: 12px;
    font-family: Arial, Verdana, "Trebuchet MS", sans-serif;
}
input {
    font-family: Arial, Verdana, "Trebuchet MS", sans-serif;
}
div,
body {
    font-family: Arial, Verdana, "Trebuchet MS", Sans-Serif;
    font-weight: normal;
    font-size: 14px;
    color: #353535;
    line-height: 1.3em;
    empty-cells: show;
}
body {
    margin-top: 0px;
}
table,
tr,
td {
    font-family: Arial, Verdana, "Trebuchet MS", Sans-Serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.3em;
    empty-cells: show;
}
/* LINKS  */

font.index {
    color: #FFFFFF
}
font.index:link,
font.index:visited {
    color: #DDDDDD;
    font-weight: bold;
}
font.index:hover,
font.index:active {
    color: #DDDDDD;
    font-weight: bold;
}
a {
    text-decoration: none
}
a:link,
a:visited {
    color: #FFF;
    font-weight: bold;
}
a:hover,
a:active {
    color: #3e4852;
}
.h1active a:link,
.h1active a:visited {
    color: #FFF;
    text-shadow: 1px 1px 0px #999999;
}
/* MENU  */

ul.menu {
    list-style-type: none;
    height: 45px;
    width: 920px;
    margin: 0px;
    padding-left: 10px;
}
ul.menu a {
    padding-right: 25px;
    padding-left: 25px;
    display: block;
    line-height: 45px;
    text-decoration: none;
    font-family: Arial;
    font-size: 10px;
    color: #1E89D9;
}
ul.menu a:link,
ul.menu a:visited {
    color: #77B1E7;
}
ul.menu a:hover {
    color: #FFF;
}
ul.menu li {
    float: left;
}
/* FONTS  */

h1 {
    font-size: 16px;
    line-height: 1.3em;
    font-weight: bold;
    font-family: arial;
    color: #0354AC;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 6px 0px;
}
h2 {
    font-size: 16px;
    line-height: 1.3em;
    font-weight: bold;
    font-family: arial;
    color: #4B4B4B;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 6px 0px;
}
h3 {
    font-size: 26px;
    line-height: 1.2em;
    font-weight: bold;
    font-family: arial;
    color: #0354AC;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 12px 0px;
}
.box_text_blue {
    color: #0354AC;
    font-size: 16px;
}
.inside_content {
    overflow: hidden;
    height: 280px;
    width: 560px;
    padding-right: 15px;
    color: #0354AC;
    font-size: 16px;
    position: relative;
}
.inside_content2 {
    overflow: hidden;
    height: 200px;
    width: 865px;
    padding-right: 15px;
    color: #0354AC;
    font-size: 16px;
    position: relative;
}
/* NAMNGIVNA OBJEKT */

.header {
    position: relative;
    width: 950px;
    margin: 0px auto;
    background-color: #FFF;
    text-align: left;
    padding-top: 0px;
    margin-top: 0px;
    margin-bottom: 10px;
    /*-moz-box-shadow: 0px 0px 10px rgba(0,0,0,.35);
    -webkit-box-shadow: 0px 0px 10px rgba(0,0,0,.35);
      box-shadow: 0px 0px 10px rgba(0,0,0,.35);*/
    
    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-bottomright: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}
.header_main {
    padding: 0px 0px 11px 0px;
    width: 920px;
    margin: 0px 15px;
    text-align: left;
    border: 0px solid #000;
}
.header_logo {
    position: relative;
    width: 920px;
    background: url('../images/header.png') no-repeat;
    height: 110px;
}
.allcontent {
    position: relative;
    width: 950px;
    margin: 0px auto;
    background-color: #FFF;
    text-align: left;
    padding-top: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .35);
    -moz-border-radius: 7px;
    border-radius: 7px;
}
.allcontent_main {
    padding: 13px 0px;
    width: 920px;
    margin: 0px 15px 0px 15px;
    text-align: left;
    border: 0px solid #000;
}
.allcontent2 {
    position: relative;
    width: 920px;
    margin: 0px auto;
    background-color: #FFF;
    text-align: left;
    padding-top: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .35);
    -moz-border-radius: 7px;
    border-radius: 7px;
}
.allcontent3 {
    position: relative;
    width: 920px;
    background-color: #FFF;
    text-align: left;
    padding-top: 0px;
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, .35);
    -moz-border-radius: 7px;
    border-radius: 7px;
}
.allcontent_main2 {
    padding: 13px 0px;
    width: 920px;
    margin: 0px 15px 0px 0px;
    text-align: left;
    border: 0px solid #000;
}
.allcontent_main3 {
    width: 920px;
    margin: 0px 0x 0px 0px;
    text-align: left;
    border: 0px solid #000;
}
.bottom {
    position: relative;
    width: 920px;
    margin: 0px auto;
}
.bottom_left {
    position: relative;
    float: left;
    width: 600px;
    text-align: left;
    font-size: 11px;
    color: #FFF;
    font-weight: bold;
}
.bottom_right {
    position: relative;
    float: left;
    width: 320px;
    text-align: right;
    font-size: 11px;
    color: #FFF;
    font-weight: bold;
}
.incontent {
    margin-left: 30px;
}
#bbp_menu {
    width: 920px;
    height: 45px;
    background: url('../images/bg_menu.png') no-repeat;
    margin-top: 6px;
}
.allcontent_content {
    background: #DBEEFF;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
.allcontent_content_dynamic_height {
    background: #DBEEFF;
    -moz-border-radius: 7px;
    border-radius: 7px;
    position: relative;
    width: 100%;
}
.main_content {
    float: left;
    width: 600px;
}
#main_content a {
    color: #1e89d9;
}
.menu_content {
    float: left;
    width: 300px;
}
.box_blue {
    float: left;
    width: 600px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background: #DBEEFF;
    margin-top: 8px;
}
.quiz_blue {
    width: 920px;
    height: 60px;
    /*background:#0B66BD;*/
    
    margin-top: 8px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background: url('../images/bg_quiz_header_green.gif') repeat-y;
}
.quiz_question_blue {
    position: relative;
    float: left;
    width: 920px;
    min-height: 250px;
    background: #DBEEFF;
    margin-top: 8px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
.guide_blue {
    position: relative;
    float: left;
    width: 600px;
    min-height: 390px;
    background: #DBEEFF;
    -moz-border-radius-bottomleft: 7px;
    -moz-border-radius-topleft: 7px;
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}
.box_grey {
    float: left;
    width: 300px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background: #EBEBED;
    margin-top: 8px;
}
.box_inside {
    padding: 15px 25px 10px 25px;
    height: 400px;
}
.box_inside2 {
    padding: 15px 25px 10px 25px;
}
.div_button {
    width: 540px;
    /*position:absolute;*/
    
    bottom: 0px;
	cursor:pointer;
}
.certificate_blue {
    width: 540px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #99C9ED url('../images/arrow_cert_blue.png') no-repeat 99% center;
    margin: 12px 0px;
}
.certificate_blue a:link,
.certificate_blue a:visited {
    color: #FFF;
    text-decoration: none;
}
.return_blue {
    width: 135px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #0354AC url('../images/arrow_blue.png') no-repeat 98% center;
    padding-top: 10px;
    height: 30px;
    margin: 12px 0px;
    color: #FFF;
    font-weight: bold;
    padding-left: 10px;
}
.return_blue a:link,
.return_blue a:visited {
    color: #FFF;
    text-decoration: none;
}
.submit_blue {
    width: 100%;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #0354AC url('../images/arrow_blue.png') no-repeat 98% center;
    margin: 12px 0px;
}
.up_blue {
    z-index: 11;
    width: 120px;
    float: left;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #0354AC url('../images/arrow_up_blue.png') no-repeat 7% center;
    margin: 20px 0px;
}
.back_blue {
    width: 120px;
    float: left;
    background: #0354AC;
    margin: 20px 0px;
    background: #0354AC url('../images/arrow_back_blue.png') no-repeat 7% center;
    -moz-border-radius: 5px;
    border-radius: 5px;
	height:40px;
}
.next_blue {
    z-index: 10;
    width: 120px;
    float: right;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #0354AC url('../images/arrow_blue.png') no-repeat 93% center;
    margin: 20px 0px;
	height:40px;
}
.just_blue {
      z-index: 10;
  width: 120px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #0354AC;
  margin: 20px 0px;
  margin-right: 10px;
  height: 30px;
  float: left;
  text-align: center;
  padding-top: 10px;
	
}
.just_blue  a{
 padding:10px;
}
.next_blue  input{
    
	
}
.h_submit_blue {
    font-size: 14px;
    line-height: 1.3em;
    font-weight: bold;
    font-family: arial;
    color: #FFF;
    padding: 10px 0px 10px 0px;
    margin: 0px;
}
.submit_grey {
    width: 100%;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background: #787A7D url('../images/arrow_grey.png') no-repeat 98% center;
    margin: 12px 0px;
}
.h_submit_grey {
    font-size: 14px;
    line-height: 1.3em;
    font-weight: bold;
    font-family: arial;
    color: #FFF;
    padding: 10px 0px 10px 20px;
    margin: 0px;
}
.header_blue {
    width: 920px;
    height: 80px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background: #DBEEFF url('../images/bg_header.png') repeat;
    margin-bottom: 8px;
}
.header_blue2 {
    width: 920px;
    height: 80px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background: #DBEEFF url('../images/bg_header.png') repeat;
    margin-bottom: 8px;
    margin-bottom: 12px;
}
.header_inside {
    padding: 15px 25px 10px 25px;
    color: #1E89D9;
    font-weight: bold;
}
.header_inside_image {
    padding: 15px 25px 10px 25px;
    color: #1E89D9;
    font-weight: bold;
	display: none;
}
.header_progress {
    padding: 30px 0px 0px 0px;
    color: #0354AC;
    font-weight: bold;
    position: absolute;
    left: 660px;
    width: 270px;
    margin-bottom: 8px;
}
.topic_progress {
    display: inline;
    color: #0354AC;
    border-right: white 2px solid;
    padding-right: 5px;
    font-size: x-small;
}
.page_progress {
    display: inline;
    color: #1E89D9;
    font-size: x-small;
    padding-left: 5px;
}
.topicNumberCircle {
    display: inline;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    width: 2em;
    height: 2em;
    padding: .1em .4em;
    background: transparent;
    border: .1em solid #0354AC;
    color: #0354AC;
    text-align: center;
    font-size: small;
    font-weight: bold;
	padding-left: .5em;
}
.pageNumberCircle {
    display: inline;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    width: 2em;
    height: 2em;
    padding: .1em .4em;
    background: transparent;
    border: .1em solid #1E89D9;
    color: #1E89D9;
    text-align: center;
    font-size: small;
    font-weight: bold;
}
.quizScoreCircle {
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    width: 2em;
    height: 1.5em;
    padding: .2em .4em;
    background: transparent;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    text-align: center;
    margin-right: .1em;
    font-size: 36pt;
    font-weight: bold;
}
.box_link {
    display: block;
}
.submit_blue a:link,
.submit_blue a:visited {
    color: #FFF;
    text-decoration: none;
}
.next_blue a:link,
.next_blue a:visited ,.next_blue a:focus {
outline:0;
    color: #FFF;
    text-decoration: none;
	
  height: 35px;
  margin-top: -10px;
  padding-top: 10px;
}
.back_blue a:link,
.back_blue a:visited {
    color: #FFF;
    text-decoration: none;
	
  height: 30px;
  margin-top: -10px;
  padding-top: 10px;
}
.up_blue a:link,
.up_blue a:visited {
    color: #FFF;
    text-decoration: none;
}
.submit_grey a:link,
.submit_grey a:visited {
    color: #FFF;
    text-decoration: none;
}
/* CLASSER */

.rounded {
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
.txtField {
    padding: 4px;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 0px 5px 10px;
    outline: none;
    font-family: arial;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #DFDFDF;
    width: 170px;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
}
.txtField:focus {
    border: 1px solid #DFDFDF;
    -webkit-box-shadow: 0px 0px 3px #003771;
    -moz-box-shadow: 0px 0px 3px #003771;
    box-shadow: 0px 0px 3px #003771;
}
.bgdot_h {
    background: url('../bilder/bg_dot_h.png') repeat-x 0px 14px;
    margin: 0px 0px;
    padding: 14px 0px;
}
.clear {
    clear: both;
    width: 100%;
    height: 0px;
    line-height: 0px;
    font-size: 0px;
    padding: 0px;
    margin: 0px;
    border: 0;
}

.clear2 {
    clear: both;
    width: 100%;
    height: 0px;
    line-height: 0px;
    font-size: 0px;
    padding: 0px;
    margin: 0px;
    border: 0;
	display: none;
}
ul.ulsquare {
    list-style: square outside;
    color: #999999;
    padding: 0px;
}
ul.ulsquare li span {
    color: #353535;
}
ul.ulsquare li span a {
    color: #353535;
    font-weight: normal;
    text-decoration: none;
}
.CSSTableGenerator {
    margin: 0px;
    padding: 0px;
    width: 100%;
    box-shadow: 10px 10px 5px #888888;
    border: 1px solid #000000;
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
    text-align: center;
	margin-top:-3px;
}
.CSSTableGenerator table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.CSSTableGenerator tr:last-child td:last-child {
    -moz-border-radius-bottomright: 0px;
    -webkit-border-bottom-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
    -moz-border-radius-topleft: 0px;
    -webkit-border-top-left-radius: 0px;
    border-top-left-radius: 0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
    -moz-border-radius-topright: 0px;
    -webkit-border-top-right-radius: 0px;
    border-top-right-radius: 0px;
}
.CSSTableGenerator tr:last-child td:first-child {
    -moz-border-radius-bottomleft: 0px;
    -webkit-border-bottom-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.CSSTableGenerator tr:hover td {} .CSSTableGenerator tr:nth-child(odd) {
    background-color: #aad4ff;
}
.CSSTableGenerator tr:nth-child(even) {
    background-color: #ffffff;
}
.CSSTableGenerator td {
    vertical-align: middle;
    border: 0px solid #000000;
    border-width: 0px 1px 1px 0px;
    padding: 7px;
    font-size: 12px;
    font-family: Arial;
    font-weight: normal;
    color: #000000;
}
.CSSTableGenerator tr:last-child td {
    border-width: 0px 1px 1px 0px;
}
.CSSTableGenerator tr td:last-child {
    border-width: 0px 0px 1px 0px;
}
.CSSTableGenerator tr:last-child td:last-child {
    border-width: 0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td {
    background: -o-linear-gradient(bottom, #005fbf 5%, #005fbf 100%);
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #005fbf));
    background: -moz-linear-gradient( center top, #005fbf 5%, #005fbf 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#005fbf");
    background: -o-linear-gradient(top, #005fbf, 005fbf);
    background-color: #005fbf;
    border: 0px solid #000000;
    text-align: center;
    border-width: 0px 0px 1px 1px;
    font-size: 14px;
    font-family: Arial;
    font-weight: bold;
    color: #ffffff;
}
.CSSTableGenerator tr:first-child:hover td {
    background: -o-linear-gradient(bottom, #005fbf 5%, #005fbf 100%);
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #005fbf), color-stop(1, #005fbf));
    background: -moz-linear-gradient( center top, #005fbf 5%, #005fbf 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr="#005fbf", endColorstr="#005fbf");
    background: -o-linear-gradient(top, #005fbf, 005fbf);
    background-color: #005fbf;
}
.CSSTableGenerator tr:first-child td:first-child {
    border-width: 0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child {
    border-width: 0px 0px 1px 1px;
}
.button {
    color: #08233e;
    padding: 5px 0px 3px 0px;
    background-color: #aad4ff;
    border: 1px solid #ccc;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border-right: 1px solid #000;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
    cursor: pointer;
    width: 100px;
    font-weight: bold;
}
.button_not_pressed {
    color: #eaeaea;
    height: 108%;
    padding: 3px 0px 0px 0px;
    margin-top: 2px;
    background-color: #b0b1b1;
    border: 1px solid #ccc;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border-right: 1px solid #000;
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5);
    cursor: pointer;
    width: 100px;
    font-weight: bold;
}
#register a{
color:#fff;
font-size:14px;
}
#blanket {
    background-color: #111;
    opacity: 0.65;
    filter: alpha(opacity=65);
    position: absolute;
    z-index: 9001;
    top: 0px;
    left: 0px;
    width: 100%;
}
#popUpDiv {
    position: absolute;
    background-color: #fff;
    width: 630px;
    height: 500px;
    z-index: 9002;
}
#container {
    width: 80%;
    margin: auto;
}
.item #button {
    border: 0px solid #000;
    -moz-border-radius: 7px;
    border-radius: 7px;
    margin-top: 9px;
    background-color: #FFF;
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px;
    z-index: 120;
    text-align: center;
    width: 180px;
}
/* iPad Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
/* CSS */
.rbutton{
background-color: #f6f6f6;
  border-color: #ddd;
  color: #333;
  text-shadow: 0 1px 0 #f3f3f3;
cursor:pointer;

padding:12px;
padding-right:40px;
padding-left:40px;
border-radius:2px;

font-size:16px;
border:  0px solid #ccc;
-webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.75);
}
.menu li a{
font-size:13px;
}
.menu #training a { 
margin-left:-15px;
}
.menu #help a { 
margin-left:-15px;
}
.menu #guide a { 
margin-left:-25px;
}
.menu #results  a{ 
width:190px;
margin-left:-30px;
}
.menu #home  { 
	
margin-right:-10px;
}
.menu #home  a{ 
	
padding-right:20px;
}
.menu #logout  { 
	
margin-left:15px !important;
}
.menu #logout  a { 
	
padding:0px !important;
}
.menu #changesubject  { 
	
margin-left:-6px;
}
.menu #changepass { 
	
margin-left:-25px;
}
.item #subject{
font-size:18px !important;
}
.item #button{
font-size:13px !important;
}
#forgot{
font-size:16px !important;
}
#registerLink{
font-size:16px !important;
}
#register{
float:right;



padding-right:10px;

border-radius:2px;
color:#fff !important;
font-size:13px;
border: #fff 0px solid;

}

#register a{
color:#fff;
}

.h_submit_blue {
  font-size: 14px;
  line-height: 1.3em;
  font-weight: bold;
  font-family: arial;
  color: #FFF;
  padding: 10px 0px 12px 0px;
  margin: 0px;
   font-size:18px;
}
.h_submit_grey {
  font-size: 14px;
  line-height: 1.3em;
  font-weight: bold;
  font-family: arial;
  color: #FFF;
  padding: 12px 0px 12px 20px;
  margin: 0px;
}
#searchform  div{
  margin: .5em 0;
  border-width: 1px;
  border-style: solid;
  width: 160px;
  height:30px;
}
.t_menu_blue {
  width: 300px;
  height: 46px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  margin-top: 8px;
  background: #DBEEFF url('../images/g_arrow_menu_white.png') no-repeat 96% center;
  padding-top:10px;
 
}
.t_menu_blue_active {
  width: 300px;
  height: 46px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  margin-top: 8px;
  background: #DBEEFF url('../images/g_arrow_menu_white.png') no-repeat 96% center;
  padding-top:10px;
}
.next_blue {
  z-index: 10;
  width: 150px;
  float: right;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: #0354AC url('../images/arrow_blue.png') no-repeat 93% center;
  margin: 20px 0px;
  height: 45px;
}
.back_blue {
  width: 150px;
  float: left;
  background: #0354AC;
  margin: 20px 0px;
  background: #0354AC url('../images/arrow_back_blue.png') no-repeat 7% center;
  -moz-border-radius: 5px;
  border-radius: 5px;
  height: 45px;
 
}
.back_blue .box_link{
margin-left:10px;

}
input[type="checkbox"]{/* Double-sized Checkboxes */
  -ms-transform: scale(1.2); /* IE */
  -moz-transform: scale(1.2); /* FF */
  -webkit-transform: scale(1.2); /* Safari and Chrome */
  -o-transform: scale(1.2); /* Opera */
  padding: 10px;
  margin-right:10px;
  }
  #lbl_discard{
  font-size:20px;
  }
.btn{
width:170px;
height:45px;
font-size:18px;
}
.topic_progress {
  display: inline;
  color: #0354AC;
  border-right: white 2px solid;
  padding-right: 5px;
  font-size: 16px;
}

.page_progress {
  display: inline;
  color: #1E89D9;
  font-size: 12px;
  padding-left: 1px;
}
.header_progress {
  padding: 30px 0px 0px 0px;
  color: #0354AC;
  font-weight: bold;
  position: absolute;
  left: 648px;
  width: 270px;
  margin-bottom: 8px;
}
.start_blue {
  font-size: 18px;
  z-index: 10;
  width: 120px;
  float: right;
  border: none;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background: transparent;
  margin: 3px 12px;
  height: 40px;
  color: #fff;
  text-shadow: 0 0px 0 #f3f3f3;
  padding-right: 55px;
  cursor: pointer;
   
    font-family: arial;
}
#certend{
width:180px !important;
}
.answerfeed{
font-size:18px;
}

}
@media (orientation: portrait) {
    #portrait-error {display:block;
	position:fixed;
	width:80%;
	background:#fff;
	height:500px;
	top:100px;
	left:100px;
	z-index:9999;
	}
    #landscape {display:none}
	
}
@media all and (orientation:landscape) {
    #portrait-error {display:none}
    #landscape {display:block}
}


