<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="data source=4493HVIRT;Initial Catalog=BBP_twe_live; User ID=BBP_twe_live_user; Password=t+d4xuyEwRU-;" />
		<add key="WarnPeriod" value="1" />
		<add key="EscalationPeriod" value="1" />
		<add key="FinalPeriod" value="7" />
		<add key="Introduction" value="Dear " />
		<add key="Application_Path" value="http://www.lawofthejungle.com/acme34/" />
		<add key="Admin_Path" value="http://www.lawofthejungle.com/acme34/admin/index.asp" />
		<add key="Click_text" value="Click on this link to the program: " />
		<add key="Please_Attempt" value="Please attempt the following subjects: " />
		<add key="Your_certifications" value="Your certifications are: " />
		<add key="No_certifications" value="You currently have no certifications. " />
		<add key="Awarded" value="awarded" />
		<add key="Expires" value="but expires on" />
		<add key="With_Passmark" value="with a pass mark of" />
		
		<add key="Warning_email_address" value="tech@lotj.com" />
		<add key="Warning_email_subject" value="Users not passed" />
		<add key="Escalation_warning" value=" user(s) were emailed because they have not yet completed all required subjects." />
		<add key="Final_warning" value=" user(s) were emailed because they have not yet completed all required subjects." />
		<add key="Missing_email_address_subject" value="Users are missing email addresses" />
		<add key="Missing_email_address_text1" value="Some users are missing email addresses:" />
		<add key="Missing_email_address_text2" value="Please fix this by going to ..." />
		<add key="email_font_face" value="arial" />
		<add key="subject_user_table" value="1" />
		
		<!--Mail Server settings-->
		<add key="MailServer" value="localhost" />
		<add key="MailServerUsername" value="lotjb-system@lotj.com" />
		<add key="MailServerPassword" value="lotjb#100" />
		<add key="CDOBasic" value="0" />
		<add key="CDOSendUsingPort" value="2" />
		<add key="ConnectionTimeout" value="10" />
		<add key="ConnectionPort" value="25" />
		<add key="UseSSL" value="false" />
	</appSettings>
</configuration>
