<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    
    <add key="ConnectionString" value="data source=localhost,1433;Initial Catalog=BBP_ACME_3_3; User ID=bbp_acme5; Password=acme5#ee446;" />
    <add key="WarnPeriod" value="1" />
    <add key="EscalationPeriod" value="1" />
    <add key="FinalPeriod" value="7" />
    <add key="Introduction" value="Dear " />
    <add key="Application_Path" value="http://www.lawofthejungle.com/acme3/" />
    <add key="Admin_Path" value="http://www.lawofthejungle.com/acme3/admin/index.asp" />
    <add key="Click_text" value="Click on this link to the program: " />
    <add key="Please_Attempt" value="Please attempt the following subjects: " />
    <add key="Your_certifications" value="Your certifications are: " />
    <add key="No_certifications" value="You currently have no certifications. " />
    <add key="Awarded" value="awarded" />
    <add key="Expires" value="but expires on" />
    <add key="With_Passmark" value="with a pass mark of" />
    <add key="Warning_email_address" value="tech@lotj.com" />
    <add key="Warning_email_subject" value="Users not passed" />
    <add key="Escalation_warning" value=" user(s) were emailed because they have not yet completed all required subjects." />
    <add key="Final_warning" value=" user(s) were emailed because they have not yet completed all required subjects." />
    <add key="Missing_email_address_subject" value="Users are missing email addresses" />
    <add key="Missing_email_address_text1" value="Some users are missing email addresses:" />
    <add key="Missing_email_address_text2" value="Please fix this by going to ..." />
    <add key="email_font_face" value="arial" />
    <add key="subject_user_table" value="1" />
    <!--Mail Server settings-->
    <add key="MailServer" value="localhost" />
    <add key="MailServerUsername" value="lotjb-system@lotj.com" />
    <add key="MailServerPassword" value="lotjb#100" />
    <add key="CDOBasic" value="0" />
    <add key="CDOSendUsingPort" value="2" />
    <add key="ConnectionTimeout" value="10" />
    <add key="ConnectionPort" value="25" />
    <add key="UseSSL" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>